@model MNS_Reviews.Models.Comment
@using MNS_Reviews.Models



<div class="comment-cont">
    @if (User.Identity.IsAuthenticated && User.Identity.AuthenticationType.Equals("Editor"))
    {
        <a id="delete" href="/Comment/Delete/@Model.Id">X</a>

    }
    <figure class="comment-profile-pic">
        <img src="@Model.OwnerImgUrl" asp-append-version="true" alt="Matrix-Poster">
        <figcaption> @Model.OwnerName  <figcaption>
    </figure>


    <div class="comment-text">
        <p>
            @Model.CommentText
        </p>
    </div>

</div>


