@model MNS_Reviews.Models.User
@{
}

<h1 style="color:white"> Edit User </h1>


<form asp-action="Edit" method="post">

        <div class="form-row">
            <label for="userType" class="dropdown">Choose User Type</label>


    
                <select name="userType" class="dropdown" id="DropDownEditUser">
                <option class="dropDownOptions" value="User">User</option>
                <option class="dropDownOptions" value="Editor">Editor</option>
                <option class="dropDownOptions" value="Admin">Admin</option>
            </select>

        </div>
    
        <button> Save </button>

</form>