@{
    ViewData["Title"] = "Login";
}



    <form asp-controller="Home" asp-action="Index" method="POST">
        <div class="form-row">
        <label for="email">Email</label>
        <input name="email" id="email" type="email" required>
        </div>

        <div class="form-row">
            <label for="password">Password</label>
            <input name="password" id="password" type="password" required>
        </div>
        <div class="form-row">
            <button>Login</button>
        </div>
        <div class="form-row">
            
            <a id="forget-pass" asp-controller="Login" asp-action="ForgotPassword">Forget your password?</a>

        </div>

    </form>
