
*{
    font-family: Arial, Helvetica, sans-serif;
    
}
.dropDownOptions{
    font-size: 25px;
}
#DropDownEditUser{
    width: 250px;
    height: 30px;
    margin-right: auto;
    font-size: 1.2em;
}

.dropbtn {

    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: red;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: black;
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 760px;
    padding: 20px;
    background-color: rgba(0, 0, 0,0.8);
}

.nav-conteiner {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background-color: dimgrey;
    max-width: 960px;
    min-width: 660px;
    height: 3em;
    margin-bottom: 40px;
}


.nav-main-buttons {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

    .nav-main-buttons li {
        float: left;
        height: 3em;
    }

    .nav-main-buttons a {
        display: block;
        background-color: dimgrey;
        text-decoration: none;
        text-align: center;
        padding: 14px 16px;
        color: white;
        height: 1.25em;
    }


        .nav-main-buttons a:hover {
            background-color: black;
            color: red;
        }

#sl {
    float: right;
}

    #sl a {
        background-color: rgba(0, 0, 0, 0.8);
    }


        #sl a:hover {
            background-color: black;
            color: red;
        }

